<div
  class="box-border flex w-[24rem] max-w-full flex-col items-start self-stretch rounded-lg border border-slate-200 bg-white text-center font-font-family-font-1 text-[1.081rem] text-slate-900 shadow-sm dark:border-slate-700 dark:bg-slate-900 dark:text-slate-100"
>
  <div
    class="box-border flex h-[12.594rem] w-[23.875rem] flex-col items-start gap-[1rem] px-[1.5rem] pb-[1.506rem] pt-[1.5rem]"
    [style.height]="containerHeight()"
    [style.padding]="containerPadding()"
  >
    <img
      class="h-[3.5rem] w-[20.875rem]"
      loading="lazy"
      alt=""
      [src]="container()"
    />
    <div
      class="flex flex-col items-start gap-[0.462rem]"
      [style.gap]="frameDivGap()"
    >
      <div class="flex w-[20.875rem] flex-col items-center">
        <b
          class="relative leading-[1.75rem]"
          [style.font-size]="interactiveMapAnalysisFontSize()"
          >{{interactiveMapAnalysis()}}</b
        >
      </div>
      <div
        class="flex flex-col items-center text-[0.8rem] text-slate-600 dark:text-slate-300"
        [style.width]="containerWidth()"
      >
        <div
          class="relative leading-[1.425rem]"
          [style.font-size]="visualizeAndSelectFontSize()"
        >
          {{visualizeAndSelectCropPlots()}}
        </div>
      </div>
    </div>
  </div>
</div>
